.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 2rem;

  
    .title {
      font-size: 2rem;
      cursor: pointer;
      text-decoration: none;
      color: #0f0f0f;
      font-family: "Urbanist", sans-serif;
      font-weight: 400;
      padding: 2rem;
    }
    #line{
      width: 90%;
      margin: 0 2rem;
    }
    .preview {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 2rem 0;

      .product-card-container {
        width: 20%;
      }
    }
  }
  