.btn-submit {
  width: 50%;
  margin: 0.5rem 0;
  background-color: #fff;
  color: #0f0f0f;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  -webkit-appearance: none;
  border: 2px solid #1b1b1b;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 1rem;
  -moz-appearance: none;
}
.btn-submit:hover {
  background-color: #0f0f0f;
  color: #fff;
  transition: 0.3s ease;
}

#google{
  background-color: #4285F4;
  width: 100%;
  color: #fff;
}

#google:hover{
  background-color: #fff;
  color: #0f0f0f;
}

#signout{
  background-color: #1b1b1b;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
  text-transform: capitalize;
}

#inverted{
  background-color: #fff;
  color: #0f0f0f;
}
#inverted:hover{
  background-color: #0f0f0f;
  color: #fff;
}

#checkout{
  width: 100%;
}
#payment-btn{
  margin-top: 1rem;
}