.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  @media only screen and (max-width: 600px){
    .directory-container {
      padding: 1rem 1rem;
    }
  }