nav {
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  display: flex;
  /* background-color: rgb(243, 243, 243); */
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 15vh;
}
.fa-bars {
  color: #0f0f0f;
  font-size: 1.5rem;
}
.fa-times {
  color: #fff;
}

.nav-menu{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
nav ul li {
  text-align: center;
  position: relative;
  display: inline-block;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 10px;
  color: #0f0f0f;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "Urbanist", sans-serif;
}
nav ul li a:hover {
  background-color: #0f0f0f;
  color: #fff;
  transition: 0.3s ease-in-out;
}
nav ul li:hover > ul {
  display: block;
}
#homeli {
  color: #92e3a9;
  background-color: rgba(0, 0, 0, 0);
}
.logo {
  width: 10%;
  padding: 1.4rem;
}
.logo-img {
  width: 100%;
  transform: rotate3d(10, 10, 10, -20deg);
}
.logo a span {
  color: #92e3a9;
}

.checkbtn {
  font-size: 30px;
  color: #92e3a9;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.fa-bars::before {
  content: "\f0c9";
}

@media all and (max-width: 880px) {
  .checkbtn {
    display: block;
  }
  .checkbtn {
    color: #92e3a9;
  }
  .logo {
    width: 30%;
    padding: 1.4rem;
  }
  .list {
    margin-top: 20px;
    position: absolute;
    height: 85vh;
    z-index: 120;
    background-color: #fff;
    top: 10%;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    padding: 1rem 2rem;
    border: 3px solid #1b1b1b;
    border-radius: 10px;
  }

  .list li {
    width: 100%;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  .list li a:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease;
    color: #fff;
    background-color: #1b1b1b;
    transition: 0.3s ease;
  }
  .list li a {
    width: 30%;
    font-size: 1rem;
    color: #0f0f0f;
    text-align: left;
    border-radius: 10px;
    border: 1.5px solid #0f0f0f;

  }

  #check:checked ~ ul {
    left: -60%;
    transition: all 0.5s ease-in;
  }
  #check:checked ~ .checkbtn i::before {
    content: "\f00d";
  }
}
